@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama-nueva');

.mulish-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

/* Shared styles */

.display-flex {
    display: flex;
}

.btn-primary {
    background-color: #E6533C;
    border: none;
    border-radius: 45px;
    padding: 8px 20px;
    color: #FFFFFF;
    font-weight: 600;
}

/* Heading styles */

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 50px 130px 0;
    background-color: #000000ef;
}

.navbar-links {
    border: 1px solid tomato;
    border-radius: 35px;
    padding: 4px;
}

.navbar-items {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    list-style: none;
}

.item {
    text-decoration: none;
    color: #FFFFFF;
}

.brand {
    color: #E6533C;
    font-size: 2.37rem;
    font-weight: bolder;
    font-style: italic;
}

/* Banner styles */

.banner {
    background-color: #000000ef;
    justify-content: center;
    align-items: center;
    padding: 0 130px;
    gap: 100px;
}

#shape {
    font-family: 'Miama Nueva', sans-serif;
    font-weight: 400;
}

.banner-title {
    color: #FFFFFF;
    font-size: 4.87rem;
    font-weight: bolder;
    margin-bottom: 25px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.banner-desco {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.btn {
    padding: 16px 40px;
    margin-right: 16px;
}

.btn-1 {
    border: 1px solid white;
    background-color: #000000ef;
    border-radius: 45px;
    padding: 16px 40px;
    color: #FFFFFF;
    font-weight: 600;
}

.banner img {
    position: relative;
}

.btn-2 {
    border: none;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    padding: 16px 23px;
    position: absolute;
    margin-left: 1200px;
    margin-top: -170px;
}

.btn-3 {
    border: none;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    padding: 16px 23px;
    position: absolute;
    margin-left: 650px;
    margin-top: 280px;
}

.video-number {
    font-size: 2.5rem;
    font-weight: bold;
}

.video-numbers {
    font-size: 1.5rem;
    font-weight: bold;
}

.video-text {
    font-size: 0.812rem;
    color: rgba(239, 237, 232, 0.65);
}

/* Change Your Habits styles */

.content-1 {
    background-color: black;
}

.content-text {
    text-align: center;
    padding-top: 80px;
}

.content-title {
    font-size: 3rem;
    font-weight: bolder;
    color: #FFFFFF;
}

.content-desco {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
}

.content-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 185px 0;
    gap: 40px;
}

.content-img img {
    border-radius: 100px;
}

.img-title {
    font-size: 1.12rem;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    /* margin: 0px 35px; */
}

.img-desco {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
}

/* Run an Extra styles */

.content-2 {
    background-color: black;
    padding: 100px 180px 0;
}

.contents {
    display: flex;
    background-color: #222222;
    padding: 40px 30px 30px 50px;
    border-radius: 18px;
    gap: 150px;
}

.contents-text-title {
    font-size: 3rem;
    font-weight: bolder;
    color: #FFFFFF;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 14px 0px;
}

.contents-text-desco {
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
}

.contents-img img {
    width: 100%;
    height: 300px;
    border-radius: 16px;
}

/* Meet Our Team styles */

.content-4 {
    background-color: black;
    padding-bottom: 80px;
} 

.content-4-text {
    text-align: center;
    margin-bottom: 50px;
}

.content-4-title {
    font-size: 3rem;
    font-weight: bolder;
    color: #FFFFFF;
    padding-top: 80px;
}

.content-4-desco {
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
}

.content-4-img{
    margin: 0 180px;
    background-color: #222222;
    padding: 20px;
    border-radius: 18px;
}

.content-4-img-part{
    position: relative;
}

.content-4-img-part-desco{
    position: absolute;
    bottom: 10px;
}

.content-4-img-part img{
    width: 100%;
    height: 270px;
    border-radius: 18px;
}

.content-4-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.content-4-img-part-title{
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 20px;
}

.content-4-img-part-text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    padding-left: 20px;
}

/* Footer part styles */

.footer{
    background-color: #191919;
}

.footer-desco{
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
}

.footer-content,
.footer-content-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 60px 0 0;
}

.text-1-title{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
}
.text-1 ul{
    list-style: none;
}

.text-1 ul>li{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.43rem;
}

#hr{
    margin: 30px 180px 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-copyright{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    padding-top: 30px;
}
/* Responsive media query */

@media screen and (max-width: 576px) {

    .navbar,
    .banner,
    .contents,
    .footer-content,
    .footer-content-text {
        flex-direction: column;
    }

    .btn-1,
    .btn-primary {
        padding: 8px 10px;
    }

    .btn-3 {
        margin-left: -180px;
        margin-top: 1050px;
    }

    .content-imgs,
    .content-4-img {
        grid-template-columns: 1fr;
        margin: 50px 100px 0;
    }

    .content-2 {
        padding: 80px 0 0;
    }

    .contents {
        gap: 50px;
    }

    .img-hidden{
        display: none;
    }

}